@font-face {
  font-family: 'Popins-Regular';
  src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
}

* {
    font-family: 'Popins-Regular', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.subline_text::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(70% - 50%);
  width: 60%;
  height: 10%;
  background: #feb633;
  z-index: -1;
  transform: scaleX(0%);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.subline_text::before {
  transform: scaleX(100%);
}

/*.subline_text:hover {*/
/*  color: #feb633;*/
/*  cursor: pointer;*/
/*  transition: all 0.5s;*/
/*}*/

.subline_text{
  color: #feb633;
  cursor: pointer;
  transition: all 0.5s;
}


.section_title{
    font-size:30px;
    font-weight: 700;
    text-transform: capitalize;
    color: #cccccc;
    border-bottom-width: 4px;
    border-bottom-color: #f9a826;
}

.section_container{
    width: 100%;
    margin: auto;
    padding: 80px 20px;
}

.section_content {
    width: 100%;
    margin: auto;
}


@media screen and (min-width: 1024px){
    .section_title{
        font-size: 45px;
    }
    .section_content{
        width: 90%;
    }
}




.animate-text .typed-name, .animate-text .typed-career2{
    position: relative;
}

.animate-text .typed-name:after {
    content: '';
    padding: 0;
    position: absolute;
    left: -2px;
    right: 0;
    height: 100%;
    border-left: 2px solid #feb633;
    background-color: #2c2c2c;
    animation: 5s textType;
    animation-iteration-count: infinite;
    animation-timing-function: steps(10);
    animation-fill-mode: backwards;
}

.animate-text .typed-career2:after {
    content: '';
    position: absolute;
    left: -2px;
    right: 0;
    height: 90%;
    border-left: 2px solid #feb633;
    background-color: #2c2c2c;
    animation: 7s textType;
    animation-iteration-count: infinite;
    animation-timing-function: steps(10);
    animation-fill-mode: backwards;
}

@keyframes textType {
    0%{
       left: 0;
    }
    50%{
        left: 100%;
    }
    100%{
        left: 0;
    }
}



